
html, body {
    height: 100vh;
    margin: 0;
}

body {
    background-color: rgb(192,193,216);
    
}

/* centre the main content area */
main {

    background-color: rgb(192,193,216); /* Main background color */
    max-width: 800px;
    margin: auto;
}


/* page headings */
h1 {
	text-align: center;
	padding: 10px;
}


/* nav links */
nav a {
	border:solid;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
	border-radius: 10px;
}



nav {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

/* tables */
table {
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px 0px;
}

td, th {
	border: thin;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

/* forms */
form {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-gap: 1em 0.5em;
}

label {
	grid-column: 1 / 2;
	text-align: right;
}

input, button, select, textarea {
	grid-column: 2 / 3;
}

textarea {
	height: 4em;
	resize: vertical;
}

/* colours */
th, a.nav, legend, label {
	color: rgb(36,0,41);
}

h1, button {
	background-color: rgb(36,0,41);
	color: white;
}

td, th {
	border-color: rgb(36,0,41);
}

/* images */
.image-container{
	display: flex;
	justify-content: center;
	gap:50px;
	flex-wrap: wrap;
}


.image-container img{
	max-width: 150px;
	height: auto;

}

/* Welcome messages */
.shop{
	text-align: center;

    
}

/* Welcome message when customer signs in*/
#customer{
	text-align: left;
	margin: 0 20px;
}


/*Styling sign out*/
#signoutForm {
	display: inline;
	margin: 0;
}

#signout {
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: rgb(36,0,41);
	color: white;
	cursor: pointer;
}


#cart {
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: rgb(36,0,41);
	color: white;
	cursor: pointer;
}



